  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&family=Roboto:wght@100;900&display=swap');

html{
    font-family: 'Lato', sans-serif;
    font-weight: 400; /* Peso regular */
    font-size: 16px;  /* Tamanho da fonte */
    line-height: 1.5; /* Altura da linha */
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2.3rem;
    line-height: 1.2;
}

  h2{
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      font-size: 2rem;
      line-height: 1.2;
  }

  h3{
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.2;
  }
